.header {
  margin: 20px;
}

.logo {
  display: flex;
}

.logo div {
  margin: 0 auto;
}

.logo h1 {
  margin-left: -10rem;
  font-family: "Bigelow Rules";
  font-size: 60px;
  color: #0ccac4;
}

.logo img {
  width: 10rem;
  height: 10rem;
}

@media (max-width: 650px) {
  .logo h1 {
    visibility: hidden;
  }
}
